/* 

--- 01 TYPOGRAPHY SYSTEM


FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights:
Default:400
500
600
700

-Line Heights:
Default: 1
small :1.05
1.6

letter spacing
-0.5px
0.5px

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


-- 02 COLORS

Primary: #fafafa
Font: #8b8b8b



--- 05 Shadows

---06 Border Radius
default 9px
--07 White Space
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's borwser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #000;
  background-color: #eee;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/* ***************** */
/* Header */
/* ****************** */

.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.021);
  box-shadow: 0px 14px 15px -6px rgba(0, 0, 0, 0.07);
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  font-size: 2rem;
}

.header a {
  text-decoration: none;
  color: #000;
}

/* ***************** */
/*Search Section */
/* ****************** */

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
}

.search-bar {
  display: flex;
  width: 32rem;
  height: 4.8rem;
  background-color: #fff;
  align-items: center;
  border-radius: 0.4rem;
}

.search-svg {
  font-size: 2rem;
  margin-left: 3.2rem;
  color: #8b8b8b;
  cursor: pointer;
}
.search-field {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  outline: none;
  border: none;
  color: #8b8b8b;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  width: 20rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 20rem;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 0.4rem;
}

.dropdown-content li {
  color: black;
  font-size: 1.6rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  margin-left: 1rem;
  cursor: pointer;
}
.dropdown-content li:hover {
  color: #888;
}
.show {
  display: block;
}

/* ***************** */
/*Show Section */
/* ****************** */

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.country {
  width: 27rem;
  height: 42rem;
  background-color: #fff;
  margin-top: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.country:hover {
  transform: translateY(-1rem);
}
.country__img {
  width: 100%;
  height: 17rem;
}
.country__data {
  margin-left: 2rem;
  margin-top: 3rem;
}
.country__name {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.country__row {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  list-style-type: none;
}

.country__row span {
  font-weight: 600;
}

.hide {
  display: none;
}

.countries {
  padding: 0;
  list-style-type: none;
}

.country-item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  margin: 10px 0;
}

.country-item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.country-flag {
  width: 40px;
}

.country-name {
  flex: 2;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin: 0 5px;
  text-align: center;
}

.country-info {
  border-left: 1px solid #aaa;
  color: #777;
  padding: 0 15px;
  flex: 1;
}

.country-population {
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;
}

.country-population-text {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

input {
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 15px;
  width: 480px;
}

/* ***************** */
/*One Country */
/* ****************** */

.details {
  margin-top: 20rem;
  display: flex;
  gap: 0 6rem;
}
.country-detail {
  margin-bottom: 5rem;
}

.detail-btn {
  padding: 5rem 0;
  display: none;
  position: absolute;
}

.detail-btn button {
  cursor: pointer;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.6rem 3.6rem;
}

.details__flag img {
  max-width: 60rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details__about {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem auto 1fr;
}

.details__about--title {
  font-size: 2rem;
  padding: 3rem 0 3rem;
  grid-column: span 2;
}

.details__about--buttom {
  grid-column: span 2;
  align-self: end;
  padding-bottom: 4rem;
  font-size: 1.8rem;
}

.details-about--borders {
  cursor: pointer;
  margin-left: 1rem;
  border: 0;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details__about--left li,
.details__about--right li {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  margin-right: 1rem;
  list-style-type: none;
}

.details-about--borders {
  line-height: 35px;
}

.modal {
  display: none;
}

/* ***************** */
/*Media query */
/* ****************** */

@media (max-width: 1300px) {
  .details__flag img {
    max-width: 40rem;
  }
  .details {
    gap: 0 3rem;
  }
}
@media (max-width: 1050px) {
  .details__flag img {
    max-width: 100%;
  }
  .details {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .search {
    flex-direction: column;
    height: 12rem;
    margin-top: 2rem;
  }
}

@media (max-width: 540px) {
  .details__about {
    display: flex;
    flex-wrap: wrap;
  }
  .details__about--title {
    width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 52.5%;
  }
}
